<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= __('welcome') %></h1>
    <p><%= __('app_description') %></p>

    <div>
      <button>
        <a href="?lang=en"> <%= __('change_language') %> (English) </a>
      </button>
      <button>
        <a href="?lang=es"> <%= __('change_language') %> (Español) </a>
      </button>
    </div>

    <div>
      <button>
        <a href="/login">Login</a>
      </button>
    </div>

    <h2><%= __('available_products') %></h2>
    <h3>
      <%= __('today') %>, <%= now.toLocaleDateString(lang) %> <%=
      now.toLocaleTimeString(lang) %>
    </h3>

    <div class="main-container">
      <div class="new-product-form">
        <%- include('partials/new_product_form') %>
      </div>
      <div class="secondary-forms">
        <%- include('partials/filter_form') %> <%-
        include('partials/sorting_form') %> <%-
        include('partials/pagination_form') %>
      </div>
      <div class="new-product-form">
        <%- include('partials/product_listing') %>
      </div>
    </div>
    <%- include('partials/scripts') %>
  </body>
</html>
