<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>. App to buy and sell between individuals</p>

    <h2>Available Products Now</h2>
    <h3>
      Today, <%= now.toLocaleDateString('es-ES') %> <%=
      now.toLocaleTimeString('es-ES') %>
    </h3>

    <!-- Create New Product Form -->
    <fieldset>
      <div class="container">
        <div class="form-container">
          <h2>Create New Product</h2>
          <form action="/api/products" method="POST">
            <label for="name">Name:</label><br />
            <input type="text" id="name" name="name" required /><br />

            <label for="price">Price:</label><br />
            <input type="number" id="price" name="price" required /><br />

            <label for="sale">Buy or Sell:</label><br />
            <select id="sale" name="sale">
              <option value="true">Sell</option>
              <option value="false">Buy</option></select
            ><br />

            <label for="photo">Photo:</label><br />
            <input
              type="file"
              id="photo"
              name="photo"
              accept="image/*"
              required
            /><br />

            <label>Tags:</label><br />
            <input type="checkbox" id="work" name="tags" value="work" />
            <label for="work">Work</label><br />
            <input
              type="checkbox"
              id="lifestyle"
              name="tags"
              value="lifestyle"
            />
            <label for="lifestyle">Lifestyle</label><br />
            <input type="checkbox" id="mobile" name="tags" value="mobile" />
            <label for="mobile">Mobile</label><br />
            <input type="checkbox" id="motor" name="tags" value="motor" />
            <label for="motor">Motor</label><br />

            <input type="submit" value="Create Product" />
          </form>
        </div>
      </div>
    </fieldset>

    <!-- Listing All Products -->
    <h2>Product List</h2>
    <div class="product-columns">
      <ul>
        <% products.forEach(product => { %>
        <li>
          <h4><%= product.name %></h4>
          <% if (product.sale) { %>
          <p><strong>Lo Vendo</strong></p>
          <% } else { %>
          <p><strong>Lo Compro</strong></p>
          <% } %>
          <p><strong>Price:</strong> <%= product.price %> €</p>
          <p>
            <strong>Foto:</strong><br />
            <img
              src="/images/<%= product.photo %>"
              alt="<%= product.name %>"
              width="100"
              height="100"
            />
          </p>
          <p><strong>Tags:</strong> <%= product.tags.join(', ') %></p>
          <hr />
          <button>
            <% if (product.sale) { %> Comprar <% } else { %> Vender <% } %>
          </button>
        </li>
        <% }); %>
      </ul>
    </div>

    <hr />
  </body>
</html>
