<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1><%= __('welcome') %></h1>
    <p><%= __('app_description') %></p>

    <div>
      <button>
        <a href="?lang=en"> <%= __('change_language') %> (English) </a>
      </button>
      <button>
        <a href="?lang=es"> <%= __('change_language') %> (Español) </a>
      </button>
    </div>

    <h2><%= __('available_products') %></h2>
    <h3>
      <%= __('today') %>, <%= now.toLocaleDateString(lang) %> <%=
      now.toLocaleTimeString(lang) %>
    </h3>

    <!-- Create New Product Form -->

    <div class="container">
      <!-- Include New Product Form -->
      <%- include('partials/new_product_form') %>

      <!-- Include Filter Form -->
      <%- include('partials/filter_form') %>

      <!-- Include Sorting Form -->
      <%- include('partials/sorting_form') %>

      <!-- Include Pagination Form -->
      <%- include('partials/pagination_form') %>

      <!-- Include Product Listing -->
      <%- include('partials/product_listing') %>

      <!-- Include Scripts -->
      <%- include('partials/scripts') %>
    </div>
  </body>
</html>
