<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>. App to buy and sell between individuals</p>

    <h2>Available Products Now</h2>
    <h3>
      Today, <%= now.toLocaleDateString('es-ES') %> <%=
      now.toLocaleTimeString('es-ES') %>
    </h3>
  </body>
</html>
